@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: var(--roxo);
  background-color: #fff;
}

:root {
  --body-bg-color: #1a1a1a;
  --ciano: #00b8a5;
  --roxo: #7c17b4;
}

body {
  font-family: 'Poppins', sans-serif;

  background-color: var(--body-bg-color);
  color: var(--ciano);

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  margin-bottom: 15px;
}

.image img {
  border: 2px solid var(--ciano);
  padding: 6px;
  clip-path: circle();
  border-radius: 50%;

  height: 200px;
  width: 200px;

  object-fit: cover;
}

.insta {
  margin-bottom: 60px;
}

.insta p {
  font-weight: 300;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 68px;
}

button {
  border: 2px solid var(--ciano);
  border-radius: 4px;

  background-color: var(--body-bg-color);
  color: var(--ciano);
  font-weight: 600;
  font-size: 16px;

  text-transform: uppercase;

  height: 50px;
  width: 320px;

  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--ciano);
  color: var(--body-bg-color);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  margin-bottom: 30px;
}

i {
  fill: var(--ciano);
}

i:hover {
  transform: translateY(-8px);
}

.email:hover::after {
  position: absolute;
  z-index: 99;
  content: 'Clique para copiar o e-mail';

  width: 10rem;

  font-size: 10px;
  bottom: -20px;
  right: 0;
  left: -50px;
  background-color: #1a1a1a;
}

.icon,
i {
  transition: all 0.3s ease;
  cursor: pointer;
}

.icon:hover {
  transform: translateY(-8px);
}

.developer {
  display: flex;
}
.developer a {
  text-decoration: none;
  color: #00b8a5;

  font-weight: 700;

  display: block;
  margin-left: 5px;
  margin-bottom: 20px;
}

input{
  display: none;
}
